body {
  font-family: Verdana, sans-serif;
  color: black;
  background: white;
}

p {
  text-indent: 2em;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 150%;
  color: rgb(255, 0, 102);
}

h3 {
  font-size: 100%;
  background-color: yellow;
}

div {
  border: solid;
  background-color: aliceblue;
  border-width: thin;
  width: 100%;
}

a:link {
  color: rgb(0, 0, 153);
}

#link2 {
  color: darkorange;
}

a:visited {
  color: rgb(153, 0, 153);
}

a:active {
  color: rgb(255, 0, 102);
}

a:hover {
  color: rgb(0, 96, 255);
}
